body {
  background-color: #eff1f5;
  color: #4c4f69;
}

.jumbotron {
  color: #f5a97f;
  background-color: #9ca0b0;
  padding-bottom: 2em;
}

.navbar-brand {
  padding-left: 1em;
}

.frame {
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 15px 10px;
  width: 26vw;
  display: flex;
}

.top {
  padding-top: 2em;
}

.about {
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  color: #fff;
  font-size: 16pt;
  padding: 1em;
}

.border-top {
  border-top-width: 1px !important;
  border-top-color: #9ca0b0 !important;
}

.navbar {
  background-color: #7c7f93 !important;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #eee;
}

.about h3 {
  color: #f5a97f;
  font-weight: bold;
}

.cards-container {
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-width: 30vw;
  max-width: 35vw;
  margin: 1em;
}

@media only screen and (max-width: 600px) {
  .frame {
    width: auto;
  }

  .card {
    min-width: 90vw;
  }

  .about {
    font-size: auto;
  }
}
